table{
    border: 3px solid black;   
    width: 570px; 
    height: 500px;
}
.css{
    color: red;
    text-align: center;
}
.link{
    color: green;
    float: right;
    text-decoration: none;
}